<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Booking date</th>
      <th>Deluxe room</th>
      <th>Double room</th>
      <th>Single room</th>
      <th>Twin room</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_date %></td>
        <td>
          <% if booking.deluxe_room %>
            <span style="color: maroon;"><strong>BOOKED!</strong></span>
          <% else %>
            <span style="color: green;">Available</span>
          <% end %>
        </td>
        <td>
          <% if booking.double_room %>
            <span style="color: maroon;"><strong>BOOKED!</strong></span>
          <% else %>
            <span style="color: green;">Available</span>
          <% end %>
        </td>
        <td>
          <% if booking.single_room %>
            <span style="color: maroon;"><strong>BOOKED!</strong></span>
          <% else %>
            <span style="color: green;">Available</span>
          <% end %>
        </td>
        <td>
          <% if booking.twin_room %>
            <span style="color: maroon;"><strong>BOOKED!</strong></span>
          <% else %>
            <span style="color: green;">Available</span>
          <% end %>
        </td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr>
        <th>Booking date</th>
        <th>Deluxe room</th>
        <th>Double room</th>
        <th>Single room</th>
        <th>Twin room</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
  </tfoot>
</table>

<br>

<%= link_to '+ New Booking', new_booking_path %>
