<!-- THE HOME PAGE -->

<!-- WIDGET -->
<div class="links-widget">
	<%= link_to fa_icon("comment")+" Chat", "#feedback", title: "Live Chat" %><br>
	<%= link_to fa_icon("calendar")+" Book", "#booking-section", title: "Booking" %>
</div>

<!-- CAROUSEL -->
<div id="demo" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ul class="carousel-indicators">
		<% @carousel_items.each do |image, image_attributes| %>		
			<li data-target="#demo" data-slide-to="<%= @carousel_items.find_index { |k,_| k== image }  %>"></li>
		<% end %>
	</ul>      
	<!-- The slideshow -->
	<div class="carousel-inner">
		<% @carousel_items.each do |image, image_attributes| %>		
			<div class="<%= image_attributes[:classes] %>">
	 			<%= image_tag image_attributes[:image_url], alt: "Carousel Image", width: 1100, height: 500 %>
	 			<div class="carousel-caption">
	 				<%= content_tag(:h2, image_attributes[:heading], class: "white") %>
	 				<%= content_tag(:h3, image_attributes[:subheading], class: "white") %>
	 			</div>
	 		</div>
	 	<% end %>
	</div>      
	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>

                            
<!-- BOOKING -->
<div class="booking-heading" id="booking-section">
	Book Your Stay
</div>    

<div class="container-fluid booking-section">
	<div class="row form-row d-flex h-100">
		<div class="col-sm-6 body-card">
			<%= form_tag "home", name: "form1" do %>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<!-- Check in -->
							<div class="col-md-4">
								<div class="form-group">
									<p class="form-headings">Check-in date:</p>
									<input type="date" class="form-control input-lg" name="checkin" id="checkin" required="required">
								</div>
							</div>
							<!-- Check out date -->
							<div class="col-md-4">
								<div class="form-group">
									<p class="form-headings">Check-out date:</p>
									<input type="date" class="form-control input-lg" name="checkout" id="checkout" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<%= submit_tag 'Check Availability', class: "btn btn-4 btn-block" %>
							</div>			
						</div>
					</div> 
				</div>
			<% end %>
		</div>		
		
		<div class="col-sm-5 col-sm-offset-1 body-card payment-info">
			<p>&bull; Check-in: from 10am - 10pm</p>
			<p>&bull; Check-out: until 10pm</p>
			
			<p>&bull; <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Payment Methods</a></p>
			<div class="collapse" id="collapseExample">
			  <div class="card card-body">
			    <ul style="font-size: 16px; line-height: 23px;">
			    	<li>Visa</li>
			    	<li>American Express</li>
			    	<li>Pay in local currency or dollars at the property</li>
			    </ul>
			  </div>
			</div>
		</div>		
	</div>
</div>

<!-- ABOUT -->
<div class="container-fluid about-section largepadding" id="about">
	<div class="body-card">
		<div class="row">
			<div class="col-sm-12 centered">
				<h1 class="brown house-icon">Our Story</h1>
				<!-- fa_icon "home" -->
			</div>
			<div class="col-sm-6">
				<p>Sheevys Bed and Breakfast is a hidden gem yet conveniently located. A decent choice of restaurants are located within a 10 to 15 minutes drive. It’s an ideal destination and pleasant place for both travellers on leisure or business.</p>
				
				<p>The lovers of nature will wake up in the morning to the sounds of birds singing and gentle winds blowing fresh unpolluted air from the surrounding trees in our garden.</p>
				
				<p>A well-manicured lawn with a variety of plants and flowers nestled in unique rocks and stones will offer you a breathtaking experience. The calmness and quiet is as energizing as it is soothing.</p>
				
				<p>Several Tourist attractions like Queen Elizabeth National Park, Kibaale National Park, Amabere, Several Crater Lakes, Hiking and Semiliki Hot springs can be accessed easily as a day trip from our BNB.   Our in house Guide will be happy to take you on the Ruwenzori experience at an added cost subsequent to our available itinerary. </p>
			</div>
			<div class="col-sm-6">				
				<p>The central business is just a 10 minute drive away.  Decent choice of restaurants, supermarkets, shops, hairdressers and banks can be accessed easily in town.</p>
				
				<p>For Golf lovers Tooro Golf Club is conveniently close to Central Business District. For those who enjoy the night life the classy Mountains of the Moon Hotel bar and Africana Bar are within easy reach.</p>
				
				<p>In addition to a tranquil setting we pride ourselves in maintaining the high set standards. </p>
				
				<p>Our friendly and professional team of staff and we the owners will go an extra mile to make our Guests get a memorable holiday and ensure they get a wow experience.</p>
				
				<p>Stay With Us. Feel like family</p>
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-12 centered">
				<h3>For Booking, don't hesitate to reach out. We're available everyday all day</h3>
			
				<a class="linkbutton" href="tel:+256752755899">CALL: 0752-755-899</a>
			</div>
		</div>
	</div>
</div>


<!-- AMENITIES -->
<div class="container-fluid amenities-section largepadding dark" id="amenities">
	<div class="row">
		<div class="col-sm-12 centered">
			<h1 class="white house-icon">Amenities</h1>
			<h3>Back at our Bed &amp; Breakfast</h3>
		</div>
		<div class="col-sm-6 black">
			<p>Sheevys offers some of the expected modern amenities including wireless internet access, mini bar laundry services and bed &amp; breakfast.</p>
			
			<p>The rooms are just as remarkable as the shared areas. Our rooms are some of the best in Fort Portal. Finished with tile floors which are partly covered with comfortable carpets.</p>
			
			<p>The rooms hold comfy beds that are sophisticatedly covered with white cotton linen that is always fresh and perfectly clean.</p>
			
			<p>We provide Double, Single and Twin rooms with an option of an extra bed in our Deluxe Room at an extra charge.</p>
		</div>
		<div class="col-sm-6 black">
			<p>The walk in showers are fitted with modern amenities that have both warm and cold water.</p>
			
			<p>Wireless Internet Access is available in all the rooms and areas around our property. </p>
			
			<p>The facility overlooks a magnificent garden, contains a mini bar, and meals are offered a la carte. A complimentary shuttle is available that drops and picks guests to the Central Business District from 09am to 05pm every two hours.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "bed" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					KING SIZE BEDS
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "bus" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					24 HOUR SHUTTLE
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "tv" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					TELEVISION
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "wifi" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					FREE WIFI
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "shower" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					IN-SUITE BATH
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<%= fa_icon "car" %>
				</div>
				<div class="col-sm-9" style="margin-top: 20px;">
					PARKING
				</div>
			</div>
		</div>
	</div>            
</div>


<!-- Facilities -->
<div class="breakfast-section">
	<div class="row d-flex h-100">
		<div class="col-sm-6 justify-content-center align-self-center" style="padding: 50px">
			<h2>Facilities</h2>


			<p>Sheevys has a dinning for breakfast and a shared lounge where Guests can unwind and watch TV or read a book. Our Menu is a la carte for those who wish to have their meals at Sheevys.</p>

			<p>Breakfast room Lounge and large covered patio. Huge garden with rolling lawns and magnificent trees Wireless internet access throughout the property ample parking at the property. Guard on duty overnight at the B&amp;B.</p>
		</div>
		<div class="col-sm-6 nopadding">
			<%= image_tag "gallery/16.jpg" %>
		</div>
	</div>
</div>

<!-- ...Attractions -->
<div class="breakfast-section">
	<div class="row d-flex h-100">
		<div class="col-sm-6 nopadding">
			<%= image_tag "attractions.jpg" %>
		</div>
		<div class="col-sm-6 justify-content-center align-self-center" style="padding: 50px">
			<h2>Attractions</h2>

			<p><i>Our tour guide explaining various bird species to a customer</i></p>

			<p>Unique setting. The property has a rolling lawn and magnificent trees set the country-like atmosphere. Ultra convenient location. The Toro Golf course is 4km away.  Chimpanzee tracking, Toro Kingdom palace, Royal Tombs, Amabere, Mountain hiking, and several crater lakes are some other attractions within 20 to 40minutes drive.</p>

			<p>Sheevys is about 10 minutes from both the Fort Portal town. There are markets, supermarkets   restaurants, a golf course and gyms close by.</p>
		</div>
	</div>
</div>

<!-- Tour -->
<div class="breakfast-section">
	<div class="row d-flex h-100">
		<div class="col-sm-6 justify-content-center align-self-center" style="padding: 50px">
			<h2>Scenic Tour</h2>

			<p><i>Our tour guide with one of our guests</i></p>
		</div>
		<div class="col-sm-6 nopadding">
			<%= image_tag "tour.jpg" %>
		</div>
	</div>
</div>


<!-- FEEDBACK -->
<div class="container-fluid location-section largepadding dark" id="feedback">
	<h1 class="white">Feedback</h1>
	<h3>Tell us about your experience here</h3>
	<p class="greydescription">What did you like? What didn't you like?</p>
</div>
<div class="container-fluid location-section largepadding">
	<div class="row form-row">

		<!-- Feedback Form -->
		<div class="col-sm-6">
			<%= form_tag "home", name: "form2" do %>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<p class="form-headings">Full Name</p>
									<input type="text" class="form-control input-lg" name="fullname" id="fullname" required="required">
								</div>
							</div>
						</div>   
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<p class="form-headings">Email</p>
									<input type="email" class="form-control input-lg" name="email" id="email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<p class="form-headings">Time of stay</p>
									<input type="date" class="form-control input-lg" name="timeofstay" id="timeofstay" required="required">
								</div>
							</div>
						</div>   
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<p class="form-headings">Rating [From Terrible to Great]</p>
									<div class="row radio">
										<div class="col-md-1">
											<p><input type="radio" value="1" name="rating">1</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="2" name="rating">2</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="3" name="rating">3</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="4" name="rating">4</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="5" name="rating">5</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="6" name="rating">6</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="7" name="rating">7</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="8" name="rating">8</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="9" name="rating">9</p>
										</div>
										<div class="col-md-1">
											<p><input type="radio" value="10" name="rating">10</p>
										</div>
										<div class="col-md-2"></div>
									</div>
								</div>
							</div>
						</div>   
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<p class="form-headings">Notes</p>
									<textarea class="form-control" name="notes" id="notes" rows="5"></textarea>
								</div>
							</div>
						</div>   
						<div class="row">
							<div class="col-md-12">
								<%= submit_tag 'Send Feedback', class: "btn btn-4 btn-block" %>
							</div>
						</div>                                 
					</div> <!-- End of centered col -->
				</div>
			<% end %>
		</div>

		<!-- Disqus -->
		<div class="col-sm-6 boarders">
			<div id="disqus_thread"></div>
		</div> <!-- To help centre the form -->
	</div>
</div>


<!-- Disqus -->
<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	https://disqus.com/home/forums/sheevys/
	*/
	var disqus_config = function () {
		this.page.url = "https://disqus.com/home/forums/sheevys/";  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = 9384724; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://sheevys.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
