<div class="belownav"></div>

<div class="row">
  
  <div class="col-sm-3"></div>
  
  <div class="col-sm-6 largepadding">
    <h3>Log in</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
            <small class="form-labels"><%= f.label :email %></small><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
            <small class="form-labels"><%= f.label :password %></small><br />
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
            <%= f.check_box :remember_me %>
            <small class="form-labels"><%= f.label :remember_me %></small>
        </div>
        <% end -%>

        <div class="actions">
            <%= f.submit "Log in" %>
        </div>
    <% end %>
  </div>

  <div class="col-sm-3"></div>

</div>

<!-- render "devise/shared/links" -->
