<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- for search engine description -->
	<meta name="description" content="Sheevy's Bed and Breakfast: Uganda">
	
	<title><%= @page_title %></title>
	
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-spy="scroll" data-target=".navbar">
	<div class="main-body-container">
		
		<!-- NAV BAR -->
		<div class="container-fluid navbar-section">
			<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Logo -->
				<%= link_to image_tag("logo.png", height: 50, alt: "Logo"), home_path, class: "navbar-brand" %>
				
				<!-- Links -->
				<div class="collapse navbar-collapse" id="nav-content">   
					<ul class="navbar-nav">
						<li class="nav-item">
							<%= link_to 'about', home_path+"#about", class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'amenities', home_path+"#amenities", class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'rooms', rooms_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'breakfast', breakfast_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'specials', specials_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'gallery', gallery_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'feedback', home_path+"#feedback", class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'contacts', home_path+"#contacts", class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'rates', rooms_path+"#rates", class: "nav-link" %>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<% unless notice.nil? %>
			<%= tag.div class: "alert alert-success alert-dismissible centered alert-msg" do %>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		<%= notice %>
		  		<%= alert %>
			<% end %>
		<% end %>
		
		<!-- The rest of the body is inserted here -->
		<%= yield %>

		<!-- CONTACTS -->
		<div class="container-fluid contacts-section largepadding grey" id="contacts">
			<h1>Contacts</h1>
			<h3>Feel free to Reach Out</h3>
			<p>Including 24hr Help and Support via our Telephone Contact</p>
			<div class="row">
				<div class="col-sm-3">
					<%= image_tag "logo.png", height: 120 %>
				</div>
				<div class="col-sm-3">
					<%= link_to 'rooms', rooms_path %><br>
					<%= link_to 'amenities', home_path+"#amenities" %><br>
					<%= link_to 'gallery', gallery_path %><br>
					<%= link_to 'location', location_path %>
				</div>
				<div class="col-sm-3">
					<h4>Address</h4>
					<p>Fortportal-Kasese Road,</p>
					<p>Fort Portal,</p>
					<p>Uganda.</p>
					<p><a href="tel:+256752755899">0752-755-899</a></p>
				</div>
				<div class="col-sm-3">
					<h4>Business Hours</h4>
					<p>MON - SUN</p>
					<p>Open 24 Hours</p>
				</div>
			</div>
		</div>

		<!-- LOCATION -->
		<div class="container-fluid location-section grey" id="location">
			<p class="greydescription">Google Map</p>

			<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d498.69738184958993!2d30.263039035764688!3d0.6274849638796907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1763d0c564cbfa2d%3A0xb20e45f3a713c552!2sSheevy&#39;s+Bed+%26+Breakfast!5e0!3m2!1sen!2sug!4v1521737815793" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>


		<footer>
			<p>&copy; <%= Time.new.year %> All Rights Reserved. Sheevy's Bed &amp; Breakfast.</p>
		</footer>
	</div>

	<%= javascript_include_tag 'gallery' %>

	<!-- For Disqus -->
	<script id="dsq-count-scr" src="//sheevys.disqus.com/count.js" async></script>
</body>
</html>
